*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Rubik', 'Arial', sans-serif;
}

ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}

.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header{
    background-color: #F6F6F6;
    margin-bottom: 30px;
    height: 105px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-list{
    display: flex;
    gap: 25px;
}

.header-item{
    opacity: 0.4;
    color: black;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
    gap: 25px;
    position: relative;
    left: -55px;
}

.spn{
    color: blue;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}

.site-input{
    position: relative;
    right: -60px;
    width: 275px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 40px;
    border-radius: 60px;
}

.site-input::before{
     content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(./search_icon_152764.png);
}

.site-button{

    border-radius: 10px;
    position: relative;
    left: -40px;
    text-align: center;
    background-color: #7296EC;
    width: 89px;
    height: 45px;
}

.list{
    color: #7F7F7F;
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
    align-items: center;
    display: flex;
    gap: 34px;
}

.img-optimize{
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.about{

    margin-top: 60px;
    margin-bottom: 108px;
  
}


.about-wrapper{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 71px;
    border-radius: 10px;
}

   

.about-title{
    width: 444px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 29px;
    text-align: center;
    color: #000000;
font-weight: 500;
font-size: 20px;
line-height: 26px;
letter-spacing: 0%;

}

.about-link{
    margin-bottom: 25px;
    margin-top: 24px;
    padding-top: 13px;
    text-align: center;
   background-color: #F78B3B;
    width: 150px;
    height: 50px;
    border-radius: 10px;
  font-family: Rubik;
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
}

.imga{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 17px;
}

.subtitle{
font-weight: 500;
font-size: 20px;
line-height: 26px;
letter-spacing: 0%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.new-text{
    margin-bottom: 17px;
font-weight: 400;
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;

}



.new-desc{
    position: relative;
    left: 30px;
    top: -17px;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
}

.new-desc::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(./before\ 1.png);
    position: relative;
    left: -30px;
    top: 15px;
    
}

.new-item:nth-child(2) .new-desc::before{
    background-image: url(./before\ 2.png);
}

.new-item:nth-child(3) .new-desc::before{
    background-image: url(./before\ 3.png);
}

.new-item:nth-child(4) .new-desc::before{
    background-image: url(./before\ 4.png);
}

.new-item:nth-child(5) .new-desc::before{
    background-image: url(./before\ 5.png);
}

.new-item:nth-child(6) .new-desc::before{
    background-image: url(./before\ 6.png);
}

.new-item:nth-child(7) .new-desc::before{
    background-image: url(./before\ 7.png);
}

.new-item:nth-child(8) .new-desc::before{
    background-image: url(./before\ 8.png);
}

  



.new__warpper{
    display: flex;
    gap: 10px;
}


.new__title{
    margin-bottom: 20px;
}


.new-item{
    background-color: #F6F6F6;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 10px;
    width: 797px;
    display: flex;
    gap: 10px;
}



.button{
    color: #000000;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
    border: 1px solid #EAEAEA;
    width: 796px;
    height: 53px;
    border-radius: 10px;
    background-color: #EAEAEA;
}

.content{
   position: relative;
   top: -20px;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding-bottom: 10px;
}

.ney{
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-left: 17px;
}

.new-iteme{
    width: 311px;
    padding-left: 17px;
    margin-bottom: 20px;
}




.right-title{
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
margin-bottom: 10px;
}



.olmos{
   position: relative;
   top: -20px;
    padding-top: 10px;
}

.site-footer{
    margin-top: 100px;
    
    background-color: #7297EF;

}

.footer-wrapper{
    display: flex;

}

.footer-left{
    width: 264px;
    margin-top: 40px;
}

.footer-text{
    color: #FFFFFF;
    width: 229px;
    margin-top: 15px;
    font-family: Rubik;
font-weight: 400;
font-size: 12px;
line-height: 19px;
letter-spacing: 0%;

}

.footer-list{
    margin-left: 168px;
    margin-top: 83px;
    width: 167px;
    margin-bottom: 30px;
}

.footer-item{
    color: #FFFFFF;
    margin-top: 20px;
    font-family: Rubik;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}

.footer-liste{
    margin-top: 83px;
    margin-left: 100px;
    width: 224px;
}

.contente{
    display: flex;
    background-color: #7297EF;
}

.foo-list{
    margin-bottom: 40px;
    width: 161px;
    margin-right: 662px;
    margin-top: 20px;
}

.foo-item{
    margin-top: 7px;
    font-family: Rubik;
font-weight: 500;
font-size: 18px;
line-height: 23px;
letter-spacing: 0%;
color: #FFFFFF;
}






.foot-list{
    margin-top: 31px;
    margin-bottom: 50px;
    display: flex;
    gap: 25px;
}
    
.chiziq{
    width: 998px;
    color: #CECECE;
}
